<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>HH API</title>
        <!-- HH icon-->
        <link rel="icon" type="image/x-icon" href="assets/HeadHunter_logo.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">HH API</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="index.html">HH API</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="hh_api.html">Использовать HH API</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="contacts.html">Контакты</a>

                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle">Раскрыть / скрыть меню</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h1 class="mt-4">HH API</h1>
                        <div class="form-panel">
                            <form action="/submit-page" method="post">
                                <label for="vacancy_text">Название вакансий:</label><br>
                                <input type="text" id="vacancy_text" name="vacancy_text"><br><br>

                                <label for="page_number">Номер страницы:</label><br>
                                <select id="page_number" name="page_number" required>
                                </select><br><br>

                                <label for="region">Регион:</label><br>
                                <select id="region" name="region" required>
                                    <option value="1">Москва</option>
                                </select><br><br>

                                <label for="export_type">Тип выгрузки:</label><br>
                                <select id="export_type" name="export_type" required>
                                    <option value="vacancy_count">Подсчет вакансий</option>
                                    <option value="percentage">Подсчет процента</option>
                                    <option value="mentions">Подсчет упоминаний</option>
                                </select><br><br>

                                <input type="submit" value="Отправить">
                            </form>
                        </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
